:root{
    --fondo: #fafafa;
    --header: #bdbdbd;
    --dark-border: #a0a0a0;
    --light-border: #bdbdbd;
    --dark-font: #303030;
}

html {
    position: relative;
    min-height: 100%;
  }

body{
    margin: 0%;
    background-color: var(--fondo);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
}

header{
    position: relative;
    background-color: white;
    background-size: 100%;
    text-align: center;
    font-size: 200%;
    width: 100%;
    display: table;
    border-bottom: 1px solid var(--light-border);
    user-select: none;
    color: var(--dark-font);
}

header h1{
    display:table-cell; 
    vertical-align:middle
}

#grid{
    padding: 1%;
    display: grid;
    gap: 2vmin;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.todo{
    position: relative;
    margin: 1%;
    overflow: hidden;
    border-radius: 5px 5px 2px 2px;
    height: 300px;
    width: 300px;
    z-index: 0;
    background-color: white;
    border: 1px solid var(--light-border);
    box-shadow: 5px 5px 5px var(--light-border);
}


.todo-content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("images/todo-background.webp");
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
    text-transform: uppercase;
    min-height: 40%;
    height: fit-content;
    width: 100%;
    user-select: none;
    text-align: center;
    display: table;
    border-bottom: 1px solid var(--dark-border);
}

.todo-content h1{
    position: relative;
    display:table-cell; 
    vertical-align:middle;
    color: white;
    text-shadow: 2px 2px 5px var(--dark-border);
    backdrop-filter: blur(100%);
}

.todo-foot{
    position: absolute;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 20%;
    bottom: 0%;
    border-top: 1px solid var(--dark-border);
}

.todo:hover .todo-content{
    font-size: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("images/todo-background.webp");
}

.todo:hover{
    scale: 110%;
    cursor: pointer;
    transition-duration: 100ms;
    background-color: rgb(200, 250, 255);
}

.delete{
    right: 1%;
    height: 100%;
    position: absolute;
    color: #a0a0a0;
    border: none;
    background: none;
    font-size: 250%;
}
.delete:hover{
    color: red;
    cursor: pointer;
}

#new-todo{
    position: relative;
    margin: 1%;
    outline: 1px solid var(--light-border);
    border-radius: 2px;
    height: 300px;
    width: 300px;
    z-index: 0;
    background-color: white;
    text-align: center;
}

#new-todo h1{
    position: absolute;
    width: 100%;
    user-select: none;
    color: var(--dark-font);
}

.new-todo{
    position: relative;
    display: flex;
    color: var(--dark-font);
    justify-content: center;
    top: 35%;
    left: 35%;
    aspect-ratio: 1 / 1;
    height: 30%;
    background-color: var(--header);
    border: 1px solid var(--dark-border);
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.new-todo p {
    user-select: none;
    position: absolute;
    margin: 0%;
    font-size: 600%;
    height: 100%;
    width: 100%;
    bottom: 0%;
}

#new-todo:hover .new-todo{
    cursor: pointer;
    scale: 1.1;
    transition-duration: 100ms;
}

.new-todo:hover{
    background-color: rgb(160, 210, 255);
}

.progress-bar{
    position: absolute;
    bottom: 0%;
    height: 10%;
    width: 100%;
    border: none;
    background-color: blue;
}

.progress-bar::-webkit-progress-bar {
    background-color: #f0f0f0;
}

.progress-bar::-webkit-progress-value {
    background-color: #00ffff !important;
}


.progress-bar-text{
    position:absolute;
    left: 5%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--dark-font);
}

footer p{
    position: absolute;
    color:white;
    left: 1%;
}