.modal {
  user-select: none;
  position: fixed;
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-body {
  position: relative;
  background-color: #fefefe;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  height: 300px;
  width: min(800px, 80%);
  overflow: hidden;
  z-index: 4;

  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

.modal-title {
  padding: 24px 0 0 32px;
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 43.6px;
}

.modal-body footer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding: 24px;
  height: 48px;
  width: calc(100% - 48px);
  bottom: 0;
  left: 0;
}

.modal-success {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.5px;
  height: 48px;
  padding: 0 20px 0 20px;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: #FFFFFF;
  width: --success-button-width;
}

.modal-success:hover {
  cursor: pointer;
}

.modal-cancel {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.5px;
  height: 48px;
  padding: 0 20px 0 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #000000;
  margin-right: 24px;
}

.modal-cancel:hover {
  cursor: pointer;
}

.close {
  position: absolute;
  top: 24px;
  right: 32px;
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 12px;
  border: none;
  border-bottom: 1px solid black;
}

.modal-input:focus {
  outline: none;
}

.modal-text {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}