.container{
  user-select: none;
  width: 100%;
  display: inline;
}

.container header{
  position: relative;
  height: 100px;
  padding: 0%;
  width: 100%;
  display: flex;
}

.container header h1{
  padding-left: 60px;
  position: absolute;
  margin: 0%;
  left: 0;
  bottom: 20px;
  font-weight: 700;
  font-size: 35px;
  color: var(--font-color);
}

#grid {
  width: calc(100% - 110px);
  padding: 0px 55px 0px 55px;
  margin: 0%;
  display: grid;
  row-gap: 36px;
  column-gap: 20px;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}