.todo {
  position: relative;
  height: fit-content;
  width: 100%;
  z-index: 0;
  margin: 0%;
  background-color: var(--background);
  border: 1px solid white;
  border-radius: 20px;
  user-select: none;
  overflow: hidden;
  text-decoration: none;
  color: var(--font-color);
}

.todo-options {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
}

.todo-options p{
  margin: 0%;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.todo-options:hover{
  background-color: var(--light-background);
}

.todo-header{
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  width: calc(100%);
}

.todo-header h1{
  padding-left: 24px;
  max-width: calc(100% - 64px);
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0px 0px 0px;
}

.todo:hover {
  cursor: pointer;
  transition-duration: 120ms;
  box-shadow: 2px 4px 8px white;
}

.bar {
  display: table;
  width: 100%;
  text-align: center;
  height: 22px;
}

.progress-bar{
  display: table-cell;
  vertical-align: middle;
  width: 85%;
  height: 10px;
  border: none;
}

.progress-bar::-webkit-progress-bar {
  background-color: #606060;
  border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
  background-color: #FFFFFF;
  border-radius: 10px;
}

.todo-body {
  position: relative;
  width: calc(100% - 40px);
  padding: 10px 20px 25px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
}

.todo-body .todo-info {
  display: table;
  border: 1px solid white;
  border-radius: 10px;
  height: 40px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.todo-info p {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.todo-body .todo-progress {
  order: 1;
  flex-basis: calc(50% - 7px);
}
.todo-body .todo-date {
  order: 2;
  flex-grow: 1;
}
.todo-body .todo-type {
  order: 3;
  flex: 0 1 100%;
}