#go-back {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 15px;
  left: 15px;
  font-size: 40px;
  line-height: 40px;
  color: white;
  z-index: 1;
}

#todo-edit {
  position: absolute;
  top: 112px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--font-color);
  border-radius: 20px;
  min-height: calc(100% - 188px);
  width: min(860px, 80%);
  overflow: hidden;
  padding: 0px 70px 20px 70px;
  justify-items: center;
  color: var(--font-color);
}

#todo-edit h1 {
  margin: 40px 0px 20px 0px;
  font-size: 35px;
  font-weight: 400;
}

.todo-task {
  user-select: none;
  position: relative;
  border: 1px solid var(--font-color);
  width: max(calc(100% - 70px), 300px);
  border-radius: 10px;
  margin-top: 16px;
  height: 64px;
  background-color: var(--background);
}

.todo-task:hover {
  cursor: pointer;
  filter: drop-shadow(2px 4px 8px white);
}

.todo-task p{
  position: absolute;
  top: 12px;
  left: 96px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  max-width: calc(100% - 160px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkbox {
  position: absolute;
  top: calc(50% - 10px);
  left: 18px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid white;
  appearance: none;
  cursor: pointer;
  margin: 0;
}

.checkbox:checked {
  background-color: white;
}

.task-options {
  user-select: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  right: 20px;
  border-radius: 100%;
  text-align: center;
  z-index: 2;
}

.task-options p{
  position: static;
  transform: rotate(90deg);
  height: 40px;
  min-width: 40px;
  right: 0;
  margin: 0%;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}

.task-options:hover{
  cursor: pointer;
  background-color: #808080;
}

.new-task {
  user-select: none;
  position: relative;
  width: max(calc(100% - 70px), 300px);
  border-radius: 10px;
  margin-top: 16px;
  height: 64px;
  overflow: hidden;
  background-color: var(--background);
  border: 1px solid var(--font-color);
  transition: height 300ms;
}

.new-task:hover {
  cursor: pointer;
  filter: drop-shadow(2px 4px 8px white);
}

.menu {
  height: 220px !important;
}

.menu:hover {
  background: none !important;
  cursor: auto;
  filter: none;
}

.menu > input {
  visibility: visible !important;
}

.menu > button {
  visibility: visible !important;
}

.new-task p {
  position: absolute;
  top: 12px;
  left: 96px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.new-task-submit {
  position: absolute;
  top: 15px;
  padding: 0;
  width: 30px;
  left: 13px;
  border: none;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  color: var(--font-color);
}

.new-task-submit:hover {
  background-color: #808080;
}

.new-task-input {
  visibility: hidden;
  position: absolute;
  top: 44px;
  left: 96px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  color: var(--font-color);
  border-bottom: 1px solid var(--font-color);
}

.new-task-input:focus {
  outline: none;
}

.new-task-confirm {
  visibility: hidden;
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.5px;
  height: 48px;
  right: 20px;
  bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #000000;
  width: 160px;
}

.new-task-cancel {
  visibility: hidden;
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.5px;
  height: 48px;
  right: 200px;
  bottom: 20px;
  border-radius: 10px;
  width: 100px;
  color: #FFFFFF;
  border: none;
  background-color: transparent;
}

.new-task-cancel:hover {
  background-color: #808080;
}

.new-task-confirm, .new-task-cancel:hover {
  cursor: pointer;
}

.delete-todo {
  position: absolute;
  margin: 0;
  top: 28px;
  right: 28px;
  width: 40px;
  height: 40px;
  line-height: 32px;
  text-align: center;
  font-size: 40px;
  border-radius: 100%;
  font-weight: 100;
}

.delete-todo:hover {
  cursor: pointer;
  background-color: #808080;
}